<title>ATN Company's Homepage</title>
<div class="container">
<div class="row">
    <div class="col">
<a href="/view/list/product" class="btn btn-success">View all product</a>
    </div>
    <div class="col">
    </div>
    <div class="col">
<a href="/view/list/employee" class="btn btn-success">View all employee</a>
    </div>
</div>
</div>
